<h2>{{winesShowCtrl.wine.name}}</h2>
<hr>
<div class="row">
	<div class="col-xs-6">
		<img ng-src="{{winesShowCtrl.wine.image}}" class="img-responsive">
	</div>
	<div class="col-xs-6">
		<p>{{winesShowCtrl.wine.name}}</p>
		<p>{{winesShowCtrl.wine.country}}</p>
		<br>

		<!-- buttons to edit/delete -->
		<a href="#" ng-click="editForm=!editForm" class="btn btn-default">Edit <span class="glyphicon glyphicon-pencil"></span></a>&nbsp;
		<a href="#" ng-click="winesShowCtrl.deletewine(winesShowCtrl.wine)" class="btn btn-default">Delete <span class="glyphicon glyphicon-trash"></span></a>

		<!-- edit form -->
		<div ng-show="editForm">
			<br>
	    <form ng-show="editForm" ng-submit="pokemonsShowCtrl.updatepokemon(pokemonsShowCtrl.pokemon)">
	      <div class="form-group">
	        <input type="text" ng-model="pokemonsShowCtrl.pokemon.name" class="form-control" placeholder="Name">
	      </div>
	      <div class="form-group">
	        <input type="text" ng-model="pokemonsShowCtrl.pokemon.pokedex" class="form-control" placeholder="Year">
	      </div>
	      <div class="form-group">
	        <input type="text" ng-model="pokemonsShowCtrl.pokemon.image" class="form-control" placeholder="Country">
	      </div>
	      <div class="form-group">
	        <input type="text" ng-model="pokemonsShowCtrl.pokemon.evolves_from" class="form-control" placeholder="Price">
	      </div>
	      <input type="submit" value="Update Wine" class="btn btn-default">
	    </form>
		</div>
	</div>
</div>
